.app-header {
    display: flex;
    align-items: center;
    background-color: #282c34;
    padding: 15px;
    color: white;
  }
  
.app-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px; 
}

.app-header h1{
    text-align: center;
}
  